<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>

        <title>Document</title>
</head>

<body>
    <%- include('partials/navigation')%>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quasi, porro voluptatum
                    molestiae eveniet ullam illum ratione, accusantium, amet quaerat consequatur sed quibusdam. Aliquid
                    magni qui dolores quis delectus perferendis, reprehenderit magnam dolorum, sint mollitia, optio
                    tempora. Fugit iure corporis, quisquam error hic pariatur necessitatibus harum facere eligendi neque
                    adipisci tenetur porro voluptas non vitae totam, debitis architecto consequuntur minus odio. Magnam
                    iure a aperiam, amet sapiente eligendi! Accusantium aliquam magni pariatur molestias officia ex
                    dicta laborum repellendus. Ut natus magni tenetur quo, dignissimos illum perferendis eaque quis
                    consequuntur doloribus mollitia. Natus aliquam corporis aliquid tempora labore! Ad, nesciunt quae.
                    Laboriosam obcaecati consequatur iste temporibus quae nihil necessitatibus cumque recusandae,
                    placeat ut magnam! Necessitatibus magnam ipsa dolore eligendi unde! Voluptatum quis ex laborum
                    perspiciatis in deleniti, consectetur, impedit odio at officiis est id fugit magni, illum doloribus
                    non esse adipisci fugiat veniam necessitatibus nihil vel quae et. Vero culpa excepturi voluptas ab
                    officia vel, delectus ipsa eius tempora, necessitatibus incidunt? Ullam neque ab debitis perferendis
                    earum laborum possimus autem mollitia optio, repellendus, quas quod hic! Excepturi deleniti mollitia
                    at eligendi saepe consectetur. Ipsum fugiat illum quia? Obcaecati, architecto qui totam aspernatur
                    pariatur quod repudiandae ipsam molestiae? Tempore dolores quisquam veniam?</p>
            </section>
        </main>
        <%- include("partials/footer") %>
</body>

</html>