<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>

        <title>
            <%=title%>
        </title>
</head>
<!--INCLUDE NOS PERMITE LLAMAR CODIGO DESDE OTRO COMPONENTE 
PARA NO TENER Q REPETIRLO-->

<body>
    <%- include('partials/navigation')%>

        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/img/logo.png" alt="" class="w-50">
                <h1 class="display-1 my-5 text-camelcase fw-bold">DhalisMarket</h1>
                <a href="/about" class="btn btn-primary w-25">About</a>
            </div>

        </header>

</body>

</html>